body {
    font-family: 'Dorsa', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    overflow-x: hidden;
    
}

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    top: 0;
    text-decoration: none;
    text-decoration-line: none;

}

.logo {
    font-size: 2rem;
    text-decoration: none;
}
.logo a{
    text-decoration: none;
    color: #00f2ff;
     word-spacing: 5PX;
}

.navbar{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00f2ff;
}

.socials img {
    width: 30px;
    margin-left: 10px;
    transition: transform 0.3s;
}

.socials img:hover {
    transform: scale(1.2);
}


.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 20px;
    background: url('img/3d-bg.jpg') no-repeat center center/cover;
    
}


.hero-text,
.hero-image {
    flex: 1 1 ;

}
.hero-image {
    padding-left: 50px;
   
}

.hero-text h1 {
    font-size: 3rem;
    animation: fadeInUp 1s ease-out;
}

.hero-text h2 {
    font-size: 2rem;
    color: #00f2ff;
    animation: fadeInUp 1.2s ease-out;
}

.hero-text p {
    font-size: 1.1rem;
    animation: fadeInUp 1.4s ease-out;
}

.hero-image img {
    border-radius: 15px;
    max-width: 100%;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

section {
    padding: 20px 20px;
}

.about-content,
.project-list,
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.about-img,
.project-card img {
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.about-text,
.project-card,
.skill-card {
    flex: 1 1 300px;
}

.project-card,
.skill-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project-card:hover,
.skill-card:hover {
    transform: scale(1.05);
}

.contact a {
    color: #00f2ff;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
}