* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    
}

body {
    background-color: #f7f7f7;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.socials a img {
    width: 30px;
    margin-left: 10px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 20px;
    background-color: #fff;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 3em;
    color: #444;
}

.hero-text h2 {
    font-size: 2em;
    margin-top: 10px;
    color: #666;
}

.about, .projects, .contact {
    padding: 60px 20px;
    background-color: #f0f0f0;
}

.about h2, .projects h2, .contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
}

.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

.skills {
    padding: 60px 20px;
    background-color: #fff;
}

.skills h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-left: 5px solid #007BFF;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
}
